<div id="main-menu" class="main-menu">
  <main-menu></main-menu>
</div>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

  <section class="container">
    <div class="main-logo" ui-sref="home"></div>

    <div class="main-content-outer">
      <section data-ng-controller="ProjectsController" class="main-content-inner">

        <div class="project-create">

          <div class="page-header">
            <h1>Project Submission Form</h1>
          </div>

          <div layout="column">

            <div layout="column">
              <p>Please include an address for <span>the location of a your essay or project</span>. (Feel free to
                approximate if there's not an exact address.)</p>
              <p>Please also include all necessary personal or archival photos to accompany your entry. All entries
                should be submitted to our editors via our online Project Submission form.</p>
            </div>


            <form layout="column" name="project" class="form-horizontal" novalidate>

              <div layout="row">
                <md-content layout="column">

                  <!-- Row #1 -->
                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" layout="" flex="">
                      <label>Address 1</label>
                      <input type="text" data-ng-model="project.street1"/>
                    </md-input-container>
                  </div>

                  <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm="" layout="" flex="">
                      <label>Address 2</label>
                      <input type="text" data-ng-model="project.street2"/>
                    </md-input-container>
                  </div>

                  <div layout-gt-xs="">
                    <md-input-container class="md-block" flex-gt-sm="" layout="" flex="50">
                      <label>City</label>
                      <input type="text" id="city" data-ng-model="project.city"/>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm="" layout="" flex="50">
                      <label>State</label>
                      <input type="text" id="state" data-ng-model="project.state"/>
                    </md-input-container>
                  </div>

                  <div layout-gt-xs="">
                    <md-input-container class="md-block" flex-gt-sm="" layout="" flex="50">
                      <label>Zip</label>
                      <input type="text" id="zip" data-ng-model="project.zip"/>
                    </md-input-container>

                    <md-input-container flex="50" class="md-block" class="project-submission-categories">
                      <!--<div flex="80">-->
                        <label>Select Category</label>
                        <md-select id="category" data-ng-model="project.category">
                          <md-option ng-value="categorySort.value" ng-repeat="categorySort in adminCategorySorts">
                            {{categorySort.name}}
                          </md-option>
                        </md-select>
                      <!--</div>-->

                      <!--<div flex="20">-->
                        <!--<ng-md-icon icon="help"></ng-md-icon>-->
                        <!--<md-tooltip md-delay="1000">If you're unsure, select what you feel is closest</md-tooltip>-->
                  <!--</div>-->

                    </md-input-container>


                  </div>


                  <div layout-gt-xs="">
                    <md-input-container class="md-block" flex-gt-sm="" layout="" flex="">
                      <label>Project Title</label>
                      <input type="text" id="title" data-ng-model="project.title"/>
                    </md-input-container>
                  </div>


                  <div layout="row">
                    <project-uploader></project-uploader>
                  </div>


                  <div layout="row">
                    <div flex-offset="75">
                      <md-button class="md-raised md-primary md-btn" data-ng-click="create(project.$valid)" ng-disabled="!project.$valid">Submit
                    </md-button>
                    </div>
                  </div>

                  <div layout="row" data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                  </div>


                </md-content>

              </div>


            </form>
          </div>


        </div>
      </section>
    </div>
  </section>
</section>
