.project-admin-features md-input-container md-select#status,
.project-admin-features md-input-container md-select#category {
  border-bottom: solid 2px #023a31;
  width: 50%; }
  .project-admin-features md-input-container md-select#status md-select-value span,
  .project-admin-features md-input-container md-select#category md-select-value span {
    font-size: 1.7rem; }
