<div id="main-menu" class="main-menu"><main-menu></main-menu></div>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}" onerror="myFunction()">

  <section class="container">
    <div class="main-logo" ui-sref="home"></div>

    <div class="main-content-outer">

      <section data-ng-controller="ProjectsController" data-ng-init="findOne()" class="main-content-inner">

        <div class="admin">
          <div class="admin-projects" layout="column">

            <div layout="">
              <md-button class="md-raised" aria-label="admin home page" ui-sref="admin.dashboard"><ng-md-icon icon="home"></ng-md-icon>Admin Home Page</md-button>
              <md-button class="md-raised" aria-label="admin project page" ui-sref="admin.adminProjectsQueue"><ng-md-icon icon="view_list"></ng-md-icon>Admin Project Page</md-button>
              <md-button class="md-raised" aria-label="view project preview" ui-sref="viewProjectPreview({projectId: project.id})"><ng-md-icon icon="find_in_page"></ng-md-icon>View Preview</md-button>
              <md-button data-ng-if="project.status==='published'" class="md-raised" aria-label="view project" ui-sref="viewProject({projectId: project.id})"><ng-md-icon icon="find_in_page"></ng-md-icon>View Project</md-button>
            </div>

            <md-content  layout="">
              <md-button class="md-raised" data-ng-show="!toggleEdit" aria-label="edit" data-ng-click="toggleEdit = !toggleEdit"><ng-md-icon icon="mode_edit"></ng-md-icon></md-button>
              <md-button data-ng-show="toggleEdit" data-ng-click="toggleEditFn(0)" class="md-raised btn-warning"><ng-md-icon icon="cancel"></ng-md-icon>Cancel</md-button>
              <md-button class="md-raised" data-ng-show="toggleEdit" type="submit" data-ng-click="toggleEditFn(0)" class="md-raised"><ng-md-icon icon="save"></ng-md-icon>Save</md-button>
              <md-button class="md-raised btn-warning" layout-align="end center" aria-label="delete project" data-ng-click="remove()"><ng-md-icon icon="delete_forever"></ng-md-icon></md-button>

            </md-content>

          <div>
            <h1>{{project.title}}</h1>
          </div>


            <div class="row projects-profile" layout="">
                <project-tabs flex="100"></project-tabs>
            </div>



          </div>
        </div>
      </section>
    </div>
  </section>
</section>
