<section ng-controller="HomeController">

    <!--<div class="col-md-7">-->
    <div>
        <div class="text-center page-header">
            <h2>Featured Projects</h2>
        </div>

        <!--<p>{{theFeatured}}</p>-->
        <div class="row" >
            <div class="grid cs-style-4 col-md-4 col-sm-4" ng-repeat="feature in theFeatured | limitTo: 3">
                <figure>
                    <a href="/projects/{{feature.id}}">
                        <div>
                            <h5>{{feature.title}}</h5>
                            <img ng-src="{{feature.mainImage}}" class="desaturate" />
                        </div>
                    </a>
                    <figcaption>
                        <a href="/projects/{{feature.id}}"><span>{{feature.id}}</span></a>
                    </figcaption>
                </figure>
            </div>

        </div>

    </div>

</section>
