<header>
  <ul id="my-menu" class="my-menu-main">
    <li class="my-trigger" ng-click="menuToggle($event)" ng-mouseenter="showAll || mouseenter()"
        ng-mouseleave="showAll || mouseleave()">

      <a id="triggerMenu" class="fa fa-3x fa-bars"></a>

      <nav ng-mouseenter="showAll|| menuHover($event)" id="main-menu-nav" class="my-menu-wrapper"
           ng-class="{'my-open-part' : showPart, 'my-open-all' : showAll, '': showNone}">

        <div class="my-scroller">

          <ul class="my-menu">
            <div class="content-style-sidebar">
              <ul>


                <li layout="" data-ng-if="homePageCheck()" >
                  <a ui-sref="home" data-ng-click="toggleOverlayFunction('home', 'home')"><i class="fa fa-home"></i>Home</a>
                </li>

                <li layout="">
                  <a ui-sref="listProjects"><i class="fa fa-map-marker"></i>Projects</a>
                </li>

                <li>
                  <a ui-sref="contributors">
                    <i class="fa fa-users"></i>
                    Contributors
                  </a>
                </li>

                <li>
                  <a ui-sref="submissionDetails">
                    <i class="fa fa-file"></i>
                    Submit a Project
                  </a>
                </li>

                <li>
                  <a ui-sref="aboutMappingSlc">
                    <i class="fa fa-map-signs"></i>
                    About Mapping SLC
                  </a>
                </li>

                <li>
                  <a ui-sref="createContact">
                    <i class="fa fa-envelope"></i>
                    Contact Us
                  </a>
                </li>

                <li layout="" data-ng-show="user.roles[0] !== undefined">
                  <a ui-sref="settings.profile">
                    <i class="fa fa-cog"></i>
                    Account Settings
                  </a>
                </li>

                <li layout="" data-ng-show="user.roles[0] === undefined">
                  <a ui-sref="authentication.signin">
                    <i class="fa fa-sign-in"></i>
                    Sign In
                  </a>
                </li>


                <li layout="" data-ng-show="user.roles[0] === undefined">
                  <a ui-sref="authentication.signup">
                    <i class="fa fa-user-plus"></i>
                    Sign Up
                  </a>
                </li>


                <li layout="" data-ng-show="user.roles[0] === 'admin'">
                  <a ui-sref="admin.dashboard">
                    <i class="fa fa-star"></i>
                    Admin Panel
                  </a>
                </li>

                <li layout="" data-ng-show="user.roles[0] !== undefined">
                  <a href="/api/v1/auth/signout" target="_self">
                    <i class="fa fa-sign-out"></i>
                    Sign Out
                  </a>
                </li>


              </ul>
            </div>


          </ul>
        </div>

      </nav>
    </li>


  </ul>
</header>
