<section class="project-uploader">
    <div layout="">


      <div layout="">

      <label>Upload Files</label>

      <div class="row">
        <md-button class="md-raised" data-ng-model="project.files" ngf-select
             ngf-multiple="true" ngf-fix-orientation="true"
             accept=".jpeg,.jpg,.png,.pdf,.doc,.docx,.rtf,.txt,image/*" ngf-max-size="2MB"
             ngf-keep="'distinct'"
             ngf-model-invalid="errorFile"
             data-ng-show="!uploading">{{uploadBtnText}}
        </md-button>

        <md-button class="md-raised" data-ng-click="project.files = null" data-ng-show="project.files">Remove All</md-button>
      </div>

    </div>

      <div class="thumbnail-list" data-ng-repeat="file in project.files" data-ng-show="project.files.length > 0 && !uploading">
        <img ngf-src="file" ngf-resize="{width: 150, height: 150, quality: 0.8}" >
      </div>



      <!--errors: #1-->
      <span data-ng-show="project.files.result">Upload Successful</span>
      <!--errors: #2-->
      <span class="err" data-ng-show="errorMsg">{{errorMsg}}</span>
      <!--errors: #3-->
      <md-button class="md-raised" data-ng-click="abort();" data-ng-hide="!uploading">Cancel</md-button>

      <div>
        <i ng-show="project.file.$error.required">*required</i><br>
        <i ng-show="project.file.$error.maxSize">File too large
          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      </div>

  </div>




    <div>
      <img ngf-src="file" ngf-resize="{width: 20, height: 20, quality: 0.9}">
    </div>

    <div ngf-thumbnail="file" ngf-size="{width: 20, height: 20, quality: 0.9}"></div>


    <span class="progress" ng-show="picFile.progress >= 0">
<div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
</span>

    <span ng-show="picFile.result">Upload Successful</span>
    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

    <div ng-show="success" class="text-center text-success">
      <strong>Profile Picture Changed Successfully</strong>
    </div>


    <!--abort upload-->
    <button data-ng-click="abort();" data-ng-hide="!uploading" class="btn btn-main btn-footer-overlay grow">Cancel
    </button>


    <div ngf-no-file-drop data-ng-hide="uploading" class="drag-drop-alert">
      File Drag/Drop is not supported for this browser
    </div>


    <div ng-show="error" class="text-center text-danger">
      <strong ng-bind="error"></strong>
    </div>



</section>
