<div id="main-menu" class="main-menu"><main-menu></main-menu></div>

<section class="content background" data-ng-controller="RandomMapController"
         ng-style="{'background-image': 'url(' + staticMap.mapUrl + ')', 'background-size' : 'cover' }"
         data-ng-class="{'page-view-menu-open': toggleSecondMenu}">

  <section class="container">
    <div class="main-logo" ui-sref="home"></div>

    <div class="main-content-outer">

      <section data-ng-controller="EditProfileController" class="main-content-inner">

        <div class="admin">

          <div class="admin-user">

            <div class="admin-nav">

              <md-button class="md-raised" aria-label="admin home page" ui-sref="admin.dashboard"><ng-md-icon icon="home"></ng-md-icon>Admin Home Page</md-button>
              <md-button class="md-raised" aria-label="admin user page" ui-sref="admin.adminListUsers"><ng-md-icon icon="account_circle"></ng-md-icon>Admin User Page</md-button>
              <md-button class="md-raised btn-warning" layout-align="end center" aria-label="delete user" data-ng-click="remove()"><ng-md-icon icon="delete_forever"></ng-md-icon></md-button>

            </div>

            <user-view-form-wrapper></user-view-form-wrapper>

          </div>
        </div>
      </section>
    </div>
  </section>
</section>
